#navbar
    height: 20vh
    width: 100vw
    display: flex
    justify-content: space-between
    padding: 0px 20px
    box-sizing: border-box

    #logo
        height: 100%
        width: auto
    
    ul
        display: flex
        justify-content: space-between
        align-items: center
        width: min(50%, 400px)
        list-style-type: none
        padding-right: 20px